<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>839837467112-ddqhj91o5erp5utfjjkipu69ol7am56h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839837467112-ddqhj91o5erp5utfjjkipu69ol7am56h</string>
	<key>API_KEY</key>
	<string>AIzaSyD_WEHoJN23sF1ivhL2dvjHlHeAYriMgpA</string>
	<key>GCM_SENDER_ID</key>
	<string>839837467112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shafigin.emil.TwitterSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>twitterswiftui-59715</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterswiftui-59715.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:839837467112:ios:bcbf80d5a92ef20648245d</string>
</dict>
</plist>